<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediksi Suhu Udara</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <style>
      /* Atur warna latar belakang */
      body {
        background-color: #f5f5fa; /* Warna abu-abu */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="text-center mb-5">
            <h1>Prediksi Suhu Udara</h1>
          </div>
          <!-- Form untuk prediksi suhu -->
          <form action="{{ url_for('predict') }}" method="post">
            <div class="mb-3">
              <input type="text" class="form-control" id="Nh" name="Nh" placeholder="Masukkan nilai Nh (Jumlah Semua Awan)" required />
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="T" name="T" placeholder="Masukkan nilai T (Target Suhu)" required />
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-warning w-100">Prediksi</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-md-6">
          <!-- Upload file Excel -->
          <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
            <div class="text-center mb-5">
              <h5>atau prediksi melalui file disini</h5>
            </div>
            <div class="row mb-3">
              <div class="col-md-8">
                <input class="form-control" type="file" id="file" name="file" accept=".xlsx" required />
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-warning w-100">Upload</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Hasil Prediksi -->
      <hr />
      <div class="text-center">
        <b>{{ prediction_text }}</b>
      </div>
      <!-- Tampilkan tabel prediksi jika ada -->
      {% if prediction_table %}
      <div class="row justify-content-center mt-5">
        <div class="col-md-8">
          <div class="text-center">
            <h2>Hasil Prediksi</h2>
            <div class="table-responsive">{{ prediction_table | safe }}</div>
            <!-- Tombol download -->
            <div class="mb-3">
              <a href="{{ download_link }}" class="btn btn-success mt-3">Download Prediksi</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <!-- Footer -->
    <!-- Footer -->
    <div class="footer text-center mt-5" style="position: fixed; bottom: 0; width: 100%; background-color: #ffffff; padding: 10px 0">
      <p>&copy; 2024 Anjani Dwilestari &#174; - Skripsi</p>
    </div>
  </body>
</html>
